html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
}

.banner {
    position: relative;
    background: url("wallpaper.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.navbar {
  width: 100%;
  height: 55px;
  background: #074a2f;
  font-family: 'Calibri', serif;
}

.navbar ul li {
  display: inline-block;
  padding: 16px 10px;
}

.navbar ul li a {
  color: #fff; 
  text-decoration: none;
}


.banner h2 {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.banner .btn {
    text-align: center;
    display: block;
    color: #fff; 
    text-decoration: none;
}

.title-empresa {
  font-family: 'Playfair Display SC', serif;
  font-size: 35px;
  color: #074a2f;
  font-weight: bold;
}

.title-quemsomos {
  font-family: 'Playfair Display SC', serif;
  font-size: 35px;
  color: #074a2f;
  font-weight: bold;
}

.title-contato {
  font-family: 'Playfair Display SC', serif;
  font-size: 35px;
  color: #074a2f;
  font-weight: bold;
}

.title-conectar, .fb-ic, .ins-ic {
  color: #fff;
}

.link-home, .link-servicos, .link-quemsomos, .link-contato  {
  color: #000;
}

.whats {
  height:80px; 
  position:fixed; 
  bottom: 25px; 
  right: 25px; 
  z-index:100;
}

.serives-w3pvt-web h4 {
  font-weight: 20;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Neuton', serif;
}


/*sobre*/

.content-w3pvt-img {
    padding: 0 5em;
}

.content-w3pvt-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o- border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.col-md-7 p {
  font-size: 18px;
}
/*fecha sessão sobre*/

/*centralizar texto do banner fixo a esquerda*/
.order-show-w3ls {
  padding: 0em 40em 0em 0em;
}

/*adicionando e configurando imagem do banner fixo*/
.advertise-count {
  background: url(comp.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

/*frase banner fixo*/
.order-show-w3ls h4 {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

.demo {
  color: #074a2f;
}

/*icone mover para o topo*/
a.move-top {
  width: 1275px;
  height: 34px;
  background: url(move-top.png) no-repeat;
  display: inline-block;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 0;
}